$grid-gutter-width-base: 30px;
@import "../lib/node_modules/bootstrap/scss/bootstrap.scss";

$navRed: #F87493;
$optionsBlue: #99E1D9;
$listYellow: #FFFAE3;
$textPurple: #5D576B;
$almostWhite: #FCFCFC;

.container {
	max-height: 100vh;
}

nav {
	background-color: $navRed;
	height: 6.25vh;
}

#pageWrapper {
	height: 93.75vh;
}

#options {
	background-color: $optionsBlue;
	color: $textPurple;
}

#songs {
	max-height: 100%;
	overflow: scroll;
}

#songs,
#addMusic {
	background-color: $listYellow;
	color: $textPurple;
}

.nav-link {
	color: $textPurple;
}

.list-group-item {
	background-color: $listYellow;
}

.btn-primary {
	background-color: $almostWhite;
	color: $textPurple;
}

.albumSpan {
	font-style: oblique;
}

.hidden {
	display: none;
}

