body {
	padding: 10px;
}

nav {
	background-color: #FFB4B0;
	border: 1px solid black;
	padding: 1em;
	margin: 0 1% 20px 1%;
}

/*GENERAL CONTAINER STYLE*/
.pageWrapper {
	/*max-*/width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	display: flex;
}

.pageWrapper #options,
.pageWrapper #songs,
.pageWrapper #addMusic {
	border: 1px solid black;
}

.container > .halfwidth {
	min-width: 45%;
}

.container legend {
	display: block;
}

#options {
	background-color: #4DD7FA;
	width: 25%;
	justify-content: flex-start;
	padding: 10px;
}

/*SONG LIST*/
#songs,
#addMusic {
	background-color: #FEFAC0;
	padding: 5px;
	list-style-type: decimal-leading-zero;
	color: #785616;
}

#songs ul,
#addMusic ul {
	margin-left: 0;
	padding: 0;
}
#songs li,
#addMusic li {
	width: 100%;
	padding-bottom: .4em;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#songs {
	width: 65%;
}

#addMusic {
	width: 80%;
	margin: 0 auto;
}

/**
 * TODO: style inputs nicer
 * Flex from song list is not quite what we want here.
 */


.hideButton {
	border: 1px solid darkgrey;
	border-radius: 50%;
}

span {
	text-align: center;
	padding: 0;
	margin: 0;
}
.title {
	display: inline;
	text-align: left;
	font-weight: bolder;
	font-size: 1.2em;
	margin: 0 0 0 .5em;
	flex-grow: 1;
}

.album {
	font-style: oblique;
}
/*CONTAINER CLASSES: for dividing/centering fullwidth vs colums*/
.fullwidth {
	width: 95%;
	display: flex;
	justify-content: center;
}

.halfwidth {
	width: 45%;
	font-size: .8em;
	display: inline-flex;
}

/*BUTTON STYLING*/
#options button {
	height: 1.7em;
	width: 75%;
	justify-content: center;
}

.hidden {
	display: none;
}
