body {
	padding: 10px;
}

nav {
	background-color: #FFB4B0;
	border: 1px solid black;
	padding: 1em;
	margin: 0 1% 20px 1%;
}

/*GENERAL CONTAINER STYLE*/
.container {
	/*max-*/width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	display: flex;
}

.container #options {
	border: 1px solid black;
}

.container #songs {
	border: 1px solid black;
}

.container > .halfwidth {
	min-width: 45%;
}

.container legend {
	float: left;
}

#options {
	background-color: #4DD7FA;
	width: 25%;
	justify-content: flex-start;
	padding: 10px;
}

/*SONG LIST*/
#songs {
	background-color: #FEFAC0;
	padding: 5px;
	width: 65%;
	list-style-type: decimal-leading-zero;
	color: #785616;
}

/*JS writes h1 and p tags to break up track list li's into lines;
these rules align them within the #songs container*/
/*#songs {
	display: inline-flex;
	justify-content: space-between;
}*/

#songs li {
	padding-bottom: .4em;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.title {
	display: inline;
	font-weight: bolder;
	font-size: 1.2em;
	margin: 0 .5em;
	flex-grow: 1;
}

#songs p {
	display: block;
	text-indent: 1.5em;
	padding: 0;
	margin: 0;
}

/*CONTAINER CLASSES: for dividing/centering fullwidth vs colums*/
.fullwidth {
	width: 95%;
	display: flex;
	justify-content: center;
}

.halfwidth {
	width: 45%;
	font-size: .8em;
	display: inline-flex;
}

/*BUTTON STYLING*/
#options button {
	height: 1.7em;
	width: 75%;
	justify-content: center;
}