	<div id="addMusic" class="col">
		<form action="javascript:void(0)" method="post" id="addSongForm">

		<ul>
			<li>
				<label for="titleEntry">Song</label>
				<input type="text" name="titleEntry" id="titleEntry" value="Modern Kicks">
			</li>
			<li>
				<label for="artistEntry">Artist</label>
				<input type="text" name="artistEntry" id="artistEntry" value="the Exploding Hearts">
			</li>
			<li>
				<label for="albumEntry">Album</label>
				<input type="text" name="albumEntry" id="albumEntry" value="Guitar Romantic">
			</li>
			<li>
				<input type="submit" name="submitSongAdd" value="Add" id="submitSongAdd">
			</li>
		</ul>
		</form>

	</div>
