{{!-- {{#each songs}} --}}
<p id="addNotification">
	<span class="title">{{song.title}}&nbsp;</span>by
	<span class="artist">{{song.artist}}&nbsp;</span>from
	<span class="album">{{song.album}}</span> was added.
</p>
{{!-- {{/each}} --}}
