{{#each song}}
<p id="addNotification">
	<span class="title">{{title}}&nbsp;</span>by
	<span class="artist">{{artist}}&nbsp;</span>from&nbsp;
	<span class="album">{{album}}&nbsp;</span> was added.
</p>
{{/each}}
