{{#each songs}}
	<li class="songListItem">
		<button class="hideButton"> - </button>
		<span class="title">{{title}}&nbsp;</span>
		<span class="artist">{{artist}}&nbsp;</span>from&nbsp;
		<span class="album">{{album}}</span>
	</li>
{{/each}}
