{{#each songs}}
	<li class="songListItem" data-song-id="{{@index}}">
		<button class="removeButton btn btn-sm btn-secondary rounded-circle"> - </button>
			<span class="titleSpan font-weight-bold">{{title}}</span> -
			<span class="artistSpan">{{artist}}</span> from
			<span class="albumSpan font-italic">{{album}}</span>
	</li>
{{/each}}
