{{#each songs}}
	<li class="songListItem" data-song-id="{{@index}}">
		<button class="removeButton"> - </button>
		<span class="title">{{title}}&nbsp;</span>
		<span class="artist">{{artist}}&nbsp;</span>from&nbsp;
		<span class="album">{{album}}</span>
	</li>
{{/each}}
