{{#each songs}}
	<li class="songListItem list-group-item" data-song-id="{{@index}}">
			<button class="removeButton btn btn-sm rounded-circle"> X </button>&nbsp;
			<span class="titleSpan font-weight-bold">{{title}}</span>&nbsp;-&nbsp;
			<span class="artistSpan">{{artist}}</span>&nbsp;from&nbsp;
			<span class="albumSpan font-italic">{{album}}</span>
	</li>
{{/each}}
