{{#each songs}}
	<li class="songListItem" data-song-id="{{@index}}">
		<button class="removeButton"> - </button>
		<span class="titleSpan">{{title}}</span>&nbsp;
		<span class="artistSpan">{{artist}}</span>&nbsp;from&nbsp;
		<span class="albumSpan">{{album}}</span>
	</li>
{{/each}}
